.Table {
  width: 100%;
}

.Table-header {
  width: 100%;
}

.Table-content {
  width: 100%;
}

.Table-row {
  border-top: .5px solid #cbcbcb;
  border-left: .5px solid #cbcbcb;
  border-right: .5px solid #cbcbcb;
  display: flex;
  padding: 1em;

  &--main {
    border: none;
  }

  &--last {
    border-bottom: .5px solid #cbcbcb;
  }

  &--dark {
    background-color: #f8f8f9;
  }
}

.Table-column {
  flex: 1;
  text-align: center;
}